.header-section {
    text-align: center;
}

.header-section h1 {
    padding-top: 2rem ;
    font-size: 2rem;
    font-weight: 700;
    color: var(--theme-default);
}

.team-card {
    background: var(--white);
    border-radius: 22px;
    width: 240px;
    padding: 20px 15px;
    text-align: center;
    border: none;
    box-shadow: 0 2px 5px var(--theme-default);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 15px rgba(3, 53, 104, 0.2);
}

.team-image-wrapper {
    width: 120px;
    height: 120px;
    margin: 0 auto 18px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}
.team-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-name {
    font-weight: 700;
    font-size: 1.35rem;
    color: var(--theme-default);
    margin-bottom: 5px;
}
.team-role {
    color: var(--sec-color);
    font-weight: 300;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 12px;
}
.social-link {
    width: 42px;
    height: 42px;
    background: var(--bg-trans);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #8C593B;
    transition: 0.3s;
}
.social-link:hover {
    background: var(--sec-color);
    transform: scale(1.1);
}
