/* product card */
.btn-secondary {
    color: #fff;
    background-color: var(--theme-default-2) !important;
    border-color: var(--theme-default-2) !important;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn-secondary:hover {
    background-color: var(--background-color) !important;
    border-color: var(--theme-default-2) !important;
    color: var(--theme-default-2) !important;
}

.product-card-img {
    position: relative;
}

.product-card-img>span {
    display: none;
    position: absolute;
    z-index: 2;
}

.product-card-img>span.bg-danger {
    top: 20px;
    left: 20px;
    border-radius: 5px;
}

.product-card-img>span.shadow {
    top: 20px;
    right: 20px;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.product-card-img>span.shadow:hover {
    background-color: var(--theme-default);
    color: white;
}

.checked {
    color: orange;
}

.product-card-img>img {
    width: 100%;
    height: auto;
    z-index: 1;
}