/* Global font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

/* Hero Section */
.hero {
    background: url('../../../assets/images/login.png') no-repeat center center/cover;
    height: 300px;
    position: relative;
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.hero h2 {
    font-weight: 600;
}

.breadcrumb-custom {
    color: #8b5e3c;
    font-size: 14px;
}

/* Card */
.login-card {
    max-width: 500px;
    margin: 80px auto 50px;
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.login-card h3 {
    font-weight: 700;
}

.form-label span {
    color: red;
}

.btn-custom {
    background-color: #8b5e3c;
    color: #fff;
    font-weight: 500;
    padding: 12px;
    border-radius: 6px;
}

.btn-custom1 {
    background-color: #eee;
    color: #8b5e3c;
    font-weight: 500;
    padding: 12px;
    border-radius: 6px;
}

.btn-custom:hover {
    background-color: #fff;
    border: 1px solid #6f472c;
    color: #6f472c;
}

.btn-custom1:hover {
    background-color: #ddd;
}

.link-brown {
    color: #8b5e3c;
    text-decoration: none;
}

.link-brown:hover {
    text-decoration: underline;
}